'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Package JS Generator'
      'submenu': [
        {
          'label': 'Generate Package in JS',
          'command': 'package-js-generator:generate-package'
        }
      ]
    ]
  }
]
